body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

/*HEADER*/

ul{   /*some basic setup for the ul in the header*/
    padding-left: 0; 
    display: flex;
    gap: 10px;
}

header{  /* the header includes the logo (left) and the ul (right)*/
    background-color: #1f2937;  
    color: #e5e7eb;  
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;  /*i gave padding to the header and then remove the margin from the objects inside of it*/
    padding-left: 25px;
}

header li, a, a:hover, a:visited, a:focus, a:active{  /*remove the default style from the ul and the links (i leave the links style removed in general in case i add more links to the page)*/
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
}

header p{
    margin: 0;  /*maargin remove due to header padding being enough separation from the borders*/
    font-weight: bolder;
    color: #f9faf8;
    font-size: 24px;
}

/*SECTION 1*/

.section1{  
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;  
    justify-content: center;  
    padding: 50px;
    gap: 80px;
    align-items: flex-start;
}


.section1 .left, .right{ /*default size for the divs inside the section*/
    width: 500px;
    box-sizing: border-box;
}



.section1 .left h2{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0; /*margin removed (the only margin in this section is the default p margin)*/
    margin-top: 0;
}

.section1 .left p{
    font-size: 18px;
}

.section1 .left button{
    padding: 10px;  /*separation between borders and text*/
    background-color: #3882f6;
    color: #f9faf8;
    font-family: inherit;  
    font-weight: bold;  
    border: none; /*eliminate default button border*/
    border-radius: 10px;  /*smooth corners*/
    font-size: 18px;
}

.section1 img{
    max-width: 500px; /*the image width matches the right div width*/
    height: auto;
}

/*SECTION 2*/

.section2{ 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /*padding between the section and the div inside of it (deck)*/
}

.section2 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.deck{ /*this is the div that contains the cards*/
    display: flex;
    align-items: flex-start; /*cards align to the top of the div*/
    justify-content: center; /*cards are always centered*/ 
    flex-wrap: wrap;  /*allow the  cards to reorganize in a diferent line when the space is to small to fit*/
}

.card{ /*the card contains both the image an the undertext*/
    display: flex;
    flex-direction: column; /*this makes the image container(wich contains the image) align itself on top of the text*/
    justify-content: center; /*image align at the center*/
    text-align: center; /*text align at the center*/
    width: 200px; 
    margin: 20px;
}

.undertext p{
    margin: 5px; /*margin between the paragraph and its div (.undertet) border*/
    font-size:xx-large;
}

.image{
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    box-sizing: border-box;
    margin-bottom: 5px; /*a small margin to separate the text a little more*/
    border-radius: 10px; /*corners smooth*/
}

.coffee{
    background-image: url(images/cofee-nathan-dumlao-XOhI_kW_TaM-unsplash.jpg); /*background image direction*/
    background-size: cover; /*image cover all of its container*/
    background-repeat: no-repeat; /*image wont repeat itself in case that the width or hight its not enough to cover all the container. insted it will make itself bogger to cover all at tle cost of cut a part outside */
    background-position: center; /*image center will align with the center of the container*/
}

.tea{
    background-image: url(images/tea-aniketh-kanukurthi-Qaor6nxikUM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smoothie{
    background-image: url(images/smoothie-lyfefuel-sq5NM8l_bI0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cake{
    background-image: url(images/cake-kim-daniels-OrkEasJeY74-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*SECTION 3*/

.section3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 30px;
    min-height: 400px; /*a minimum height so it dosn´t appear too thin in comparison to other sections*/
}

.section3 .container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; /*makes the text allways apeard centered*/
}

.section3  p{
    margin: 0px; /*remove margin form the p in this section due to not being necesarry thanks to the padding of the div itself*/
} 

.quote{
    font-size: 36px;
    font-weight:lighter;
    color: #1f2937;
    margin-bottom: 5px;
}

.section3 .author{ /*i had to give this a little more specificity so it dosn´t loose agains the .section3 p*/
    align-self: flex-end; /*the autor will apear at the right independent of the rest of the div items display*/
    margin-right: 20px; /*a little margin so the autor dosnt apear at the maximum right*/
}

/*SECTION 4*/

.section4{
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.section4 .container{ /*inside this container are two divs (left and right)*/
    display: flex;
    background-color: #3882f6;
    width: 80%;
    align-items: center; 
    margin: 70px auto;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px 5%;
}


.section4 .container .left, .section4 .container .right{
    display: flex;
    width: 50%;
}

.section4 .container .left{
    flex-direction: column;
    justify-content: flex-start; /*this makes the text align always at the left*/
}

.section4 .container .right{
    justify-content: flex-end; /*the button always apear at the left*/
}

.section4 .container h2{
    margin-bottom: 0;
    color: #f9faf8;
}

.section4 .container p{
    margin-top: 3px;
    color: #f9faf8
}

.section4 button{
    background-color: #3882f6;
    color: #f9faf8;
    font-family: inherit;
    font-weight: bold;
    border: 1px solid #f9faf8;
    border-radius: 10px;
    padding: 10px;
}

/*FOOTER*/

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.underline{
    text-decoration: underline;
}